/*-------------------------------------------    
    Base     
-------------------------------------------*/
:root {
  --black: #080808;
  --grey: #212121;
  --sahara: #ad8e12;
  --turbo: #ffe500;
  --chartreuse: #99ff00;
  --riceflower: #f5ffe6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  /*Include padding and border in the element's total width and height*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* color of highlighted text */
::-moz-selection {
  background: var(--turbo);
}
::selection {
  background: var(--turbo);
}

html {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--grey);
}

/*-------------------------------------------    
    Global     
-------------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}

.bg_rice {
  background-color: var(--riceflower);
}

.bg_black {
  background-color: var(--black);
}

.rice_text {
  color: var(--riceflower);
}

.gray_text {
  color: var(--grey);
}

.highlight_text {
  color: var(--chartreuse);
}

.normal_text {
  font-size: 1 rem;
  text-align: center;
}

/*-------------------------------------------    
    Sections     
-------------------------------------------*/

/* ----------- Main Navigation ----------- */
/* ----------- Home ----------- */
/* ----------- About ----------- */
/* ----------- Portfolio ----------- */
/* ----------- Contact ----------- */
/* ----------- Footer ----------- */
